<div id="all">
    <div id="bar" class="mat-elevation-z8">
        <div id="navigationBar">
            <div id="logo">
                <img src="assets\logo.JPG" alt="logo.jpeg">
            </div>
            <nav>
                <button mat-button>RECURSOS</button>
                <button mat-button>CURSOS</button>
                <button mat-button>MERAKICRAFTS</button>
                <button mat-button>MATERIALES FISICOS</button>
                <button mat-button>QUIENES SOMOS</button>
                <button mat-button>CONTACTO</button>
            </nav>
            <mat-divider [vertical]="true"></mat-divider>
            <div id="rrss">
                <button mat-icon-button><img src="assets\instagram.png" alt="" id="instagram"></button>
                <button mat-icon-button><img src="assets\facebook.png" alt="" id="facebook"></button>
            </div>
        </div>
    </div>
</div>
